.button {
  min-width: 2.5rem;
  min-height: 2.5rem;
  background: white;
  border-radius: $border-radius;
  border: none;
  margin: $unit/2 0;
  padding: 0 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px rgba($shadow, 0.5);
  transition: all 0.33s $easeOutQuint;

  &:focus,
  &:hover {
    box-shadow: 0px 0px 10px rgba($shadow-dark, 0.75);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0px 0px 10px rgba($shadow-dark, 0.75);
    transform: translateY(0);
    background: $dark;
    color: white;
  }

  cursor: pointer;

  &.is-bordered {
    border: 1px solid $light;
  }

  .vuex-pan-to {
    display: inline-block;
  }
}
