*,
*:before,
*:after,
html,
body {
  box-sizing: border-box;
  margin: 0;
}

svg {
  .link {
    path {
      // transition: 2s d ease-in-out;
    }
  }
}

@keyframes init {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
