html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // @include tablet {
  //   font-size: 16px;
  // }

  // @include fullhd {
  //   font-size: 22px;
  // }
}

html,
button,
p {
  font-family: $sans-serif;
  font-variant-numeric: lining-nums;
}

html,
body {
  color: $dark;
  font-feature-settings: 'liga' 1;
}

.is-strong {
  font-weight: 900;
}

p {
  line-height: 1.5rem;
  margin-bottom: 1rem;

  &.small {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  + h3 {
    margin-top: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
}

h1 {
  font-size: 8.75rem;
  line-height: 9rem;
  margin-bottom: 2rem;
  font-weight: bold;

  + .sub-header {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

a,
.like-link {
  color: $dark;
  text-decoration: underline;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $red;
  }
}
